<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="ConsoleLog" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="FileLog" fileName="BOTExtraction.log" append="false">
		<PatternLayout>
			<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
		</PatternLayout>
	</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="ConsoleLog" />
			<AppenderRef ref="FileLog" />
		</Root>
	</Loggers>
</Configuration>